<configuration>

    <appender name="CONSOLE_SYSTEM" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%d{HH:mm:ss.SSS}) %highlight(%-5level) [%magenta(%X{testName:-System})] %cyan(%logger{36}) : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_TEST_REPORT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.tool.schema" level="WARN"/>

    <logger name="TEST_REPORT" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_TEST_REPORT"/>
    </logger>

    <logger name="IT_REPORT" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_TEST_REPORT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE_SYSTEM"/>
    </root>

</configuration>